html {
  font-family: sans-serif;
}
.header {
  flex: 1;
  background: #800080;
  color: #f0f8ff;
  height: 100px;
}
.columns {
  margin: 10px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  align-content: center;
}
.content {
  flex-basis: 75%;
  height: auto;
  border: 2px solid #ccc;
  background: #eee;
}
.menu {
  flex-basis: 18%;
  height: 300px;
  border: 2px solid #ccc;
  background: #eee;
  padding: 20px;
}
.footer {
  flex: 1;
  height: 100px;
}
