html
    font-family sans-serif
    
.header 
    background purple
    color aliceblue
    height 100px    

.h1
    font-size 64px
    
.columns
    margin-top 20px
    display flex
    
.content
    flex 2.25
    border 2px solid #ccc
    background #eee
    
.menu
    flex 0.75
    border 2px solid #ccc
    background #eee
    padding 20px
    
//.footer