html {
  font-family: sans-serif;
}
* {
  vertical-align: baseline;
}
border 0 none {
  outline: 0;
  padding: 0;
  margin: 0;
}
.header {
  display: flex;
  flex: 1;
  font-size: 3em;
  height: 100px;
  background: #800080;
  color: #f0f8ff;
}
.columns {
  margin: 10px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
}
.content {
  height: 300px;
  margin-top: 10px;
  padding: 5px;
  width: 800px;
  border: 2px solid #ccc;
  background: #eee;
}
.menu {
  height: 300px;
  width: 200px;
  border: 2px solid #ccc;
  background: #eee;
  padding: 20px;
}
.footer {
  display: flex;
  flex: 1;
  height: 100px;
}
