.container
    display grid
    grid-template-columns repeat(12, 1fr)
    grid-template-rows 100px 400px 100px
    grid-gap 5px
    grid-template-areas:
        "h h h h h h h h h h h h"
        "m m c c c c c c c c c c"
        "f f f f f f f f f f f f";

 .header
    grid-area h  
    background purple
    color aliceblue
    
.content
    grid-area c
    border 2px solid #ccc
    background #eee
    
.menu
    grid-area m
    border 2px solid #ccc
    background #eee
    
#navbar 
    margin 0
    padding 0
    list-style-type none
  
#navbar a
    text-decoration none
    
.footer
    grid-area f
    background purple
    color aliceblue