html
    font-family sans-serif

.header
    flex 1
    background purple
    color aliceblue
    height 100px    
    
.columns
    margin 10px
    display flex
    flex-direction row
    justify-content space-around
        
.content
    flex 2.5
    height auto
    border 2px solid #ccc
    background #eee
    
.menu
    flex auto
    height 300px
    border 2px solid #ccc
    background #eee
    padding 20px
    
.footer
    flex 1
    height 100px